body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
    margin: auto 20px;
}
img {
    width: auto;
    height: 500px;
    margin: auto 10px;
}